
@model Chatloop.Models.Reminder
@{
    ViewData["Title"] = "ReminderManagment";
}

<h2>ReminderManagment</h2>





<form asp-controller="home" asp-action="ReminderManagment" >
  <div class="form-row align-items-center">
    
    <div class="col-auto my-1">
      <div class="custom-control custom-checkbox mr-sm-2">
        <input type="checkbox" class="custom-control-input" asp-for="RemindOnMonday" >
        <label class="custom-control-label" for="customControlAutosizing">Monday</label>
      </div>
        <div class="custom-control custom-checkbox mr-sm-2">
        <input type="checkbox" class="custom-control-input" asp-for="RemindOnTuesday" >
        <label class="custom-control-label" for="customControlAutosizing">Tuesday</label>
      </div>
        <div class="custom-control custom-checkbox mr-sm-2">
        <input type="checkbox" class="custom-control-input" asp-for="RemindOnWednesday" id="customControlAutosizing">
        <label class="custom-control-label" for="customControlAutosizing">Wednesday</label>
      </div>
        <div class="custom-control custom-checkbox mr-sm-2">
        <input type="checkbox" class="custom-control-input" asp-for="RemindOnThursday" id="customControlAutosizing">
        <label class="custom-control-label" for="customControlAutosizing">Thursday</label>
      </div>
        <div class="custom-control custom-checkbox mr-sm-2">
        <input type="checkbox" class="custom-control-input" id="customControlAutosizing">
        <label class="custom-control-label" for="customControlAutosizing">Friday</label>
      </div>
    </div>
    <div class="col-auto my-1">
      <button type="submit" class="btn btn-primary">Submit</button>
    </div>
  </div>
</form>

    